html,
body {
  margin: 0;
  padding: 20px;
  color: $main-txt-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $main-border-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

button {
  cursor: pointer;
  &:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
}
