main {
    background-color: $main-bg-color;
    height: 400px;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
}